.filterUI-resInfo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .results-info {
        padding-bottom: 3rem;
    }
}

.current-viewing {
    margin-bottom: 2rem;
}

.results-info {
    flex-shrink: 0;
    max-width: 40rem;
    width: 100%;
}

.filter-control__container {
    padding-right: 10rem;
    margin-bottom: 1rem;
}

.filter-control__cat {
    font-weight: bold;
    margin-right: 1.5rem;
}

.filter-control__btn {
    background: #dfdfdf;
    margin-right: 1.5rem;
    color: $black;
    padding: .5rem;
    border: none;
    border-radius: 0;
    margin-bottom: 1rem;

    &:focus, &:active {
        outline: none;
    }

    .ionicons {
        margin-left: 1rem;
    }
}